{# Note: This template replaces the old frr.conf.j2 which included specific sub-components directly.
     The new approach includes the main daemon config files (zebra.conf.j2, staticd.conf.j2, bgpd.conf.j2)
     which in turn include the same sub-components. This provides equivalent configuration with
     better modularity. Each daemon config includes common/daemons.common.conf.j2, which is safe
     as it contains daemon-agnostic configuration. #}
{% if DEVICE_METADATA.localhost.frr_mgmt_framework_config is defined and DEVICE_METADATA.localhost.frr_mgmt_framework_config == "true" %}
    {% include "/usr/local/sonic/frrcfgd/frr.conf.j2" %}
{% else %}
    {% include "/usr/share/sonic/templates/zebra/zebra.conf.j2" %}
    {% include "/usr/share/sonic/templates/staticd/staticd.conf.j2" %}
    {% include "/usr/share/sonic/templates/bgpd/bgpd.conf.j2" %}
    {% include "/usr/share/sonic/templates/sharpd/sharpd.conf.j2" %}
{% endif %}
